
<%- include header2_1 %>

<div class="pure-u-1">
    <div class="inner about">
        <h1>关于我的博客</h1>
        <p>
            基于NodeJS + 阿里云服务器。
        </p>
        <p>
            目前用到了以下云服务，都是在一定程度下免费的。
        </p>
        <ul>
            <li>Github pages - 静态 HTML、JS 文件存储。</li>
            <li>LeanCloud - 供应博客内容。</li>
            <li>Flickr/七牛 - 博客图片之类的文件存储。</li>
        </ul>
    </div>
</div>


<%- include footer2 %>