



<!-- 发表文章 -->



<%- include backend_header %>

        <!--<form method="post">
          标题：<br />
          <input type="text" name="title" /><br />
          正文：<br />
          <textarea name="post" rows="20" cols="100"></textarea><br />
          <input type="submit" value="发表" />
        </form>-->

            <form method="post">

                <div class="postarticletitle">
                    <div class="ui labeled input">
                        <div class="ui label">
                            标题:
                        </div>
                        <input type="text" name="title">
                    </div>
                </div>


                <div class="postcontent">
                    <div id="epiceditor">
                        <textarea id="textcontent" name="post"  placeholder="请在下面输入文章,支持Markdown格式"></textarea>
                    </div>
                </div>

                <div class="postbtn">
                    <input type="submit" value="保存">
                </div>

            </form>

        </article>
    </div>

    <script src="../public/lib/epiceditor/js/epiceditor.min.js"></script>
    <script>

        (function (window) {

            'usr strict';

            var opts = {
                container: 'epiceditor',
                textarea: 'textcontent',
                basePath: '../public/lib/epiceditor',
                clientSideStorage: true,
                localStorageName: 'epiceditor',
                useNativeFullscreen: true,
                parser: marked,
                file: {
                    name: 'epiceditor',
                    defaultContent: '',
                    autoSave: 100
                },
                theme: {
                    base: '/themes/base/epiceditor.css',
                    preview: '/themes/preview/github.css',
                    editor: '/themes/editor/epic-dark.css'
                },
                button: {
                    preview: true,
                    fullscreen: true,
                    bar: "auto"
                },
                focusOnLoad: false,
                shortcut: {
                    modifier: 18,
                    fullscreen: 70,
                    preview: 80
                },
                string: {
                    togglePreview: 'Toggle Preview Mode',
                    toggleEdit: 'Toggle Edit Mode',
                    toggleFullscreen: 'Enter Fullscreen'
                },
                autogrow: false
            };

            var editor = new EpicEditor(opts).load();



        })(window);


    </script>


</body>
</html>