


<!-- 主页头部 用在index2上 -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DearSW</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">

    <!-- SEO -->
    <meta name="keywords" content="DearSW">
    <meta name="author" content="DearSW">
    <meta name="description" content="DearSW">

    <!--IE兼容模式，优先使用最新版的IE和Chrome内核-->
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1" />

    <!--强制优先使用360webkit内核-->
    <meta name="renderer" content="webkit" />

    <!--为移动端设备优化，设置看见区域的宽度和初始缩放比例-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- icon图标 -->
    <link rel="short icon" type="image/icon" href="../public/imgs/icon/icon.jpg">


    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/normalizeForDearSW.css">

    <!-- 组件样式 -->
    <!-- 主页动态背景 -->
    <link rel="stylesheet" href="../public/css/components/background-animation.css">

    <!-- loader -->
    <link rel="stylesheet" href="../public/css/components/loader.css">

    <!-- 主页基础样式 -->
    <link rel="stylesheet" href="../public/css/index2.css">

    <!-- 轮播样式 去掉这个轮播  -->
    <!--<link rel="stylesheet" href="../public/css/slide.css">-->

    <!-- semantic UI 引入 -->
    <link rel="stylesheet" href="../public/css/semantic/dist/semantic.min.css">


    <style>
        * { box-sizing: border-box; }

        /* m-topmenu */

        .m-topmenu {
            position: relative;
            margin-left: 80px;
            width: calc(100% - 80px);
            height: 57px;
            z-index: 5;
            /* 父层叠 */
        }

        /* 制作按钮 */
        .m-topmenu .btn {
            position: relative;
            display: inline-block;
            width: 21px;
            height: 26px;
            margin: 27px 0 0 0;
            left: 21px;
            padding: 0;
        }

        .m-topmenu .btn .btn-lines {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            display: block;
            width: 20px;
            height: 2px;
            background-color: #000;
            backface-visibility: hidden;
            transition: background-color .2s ease;
        }

        .m-topmenu .btn .btn-lines:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 2px;
            background-color: #000;
            transition: all .3s ease;
            /* 向上移动 */
            transform: translate(0,-6px);
        }
        .m-topmenu .btn .btn-lines:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            vertical-align: top;
            width: 20px;
            height: 2px;
            background-color: #000;
            transition: all .3s ease;
            /* 向下移动 */
            transform: translate(0,6px);
        }

        .m-topmenu .btn.btn-close  .btn-lines {
            height: 0;
        }

        .m-topmenu .btn.btn-close  .btn-lines:before {
            transform: rotate(45deg);
            background-color: #FFFBFB;
        }

        .m-topmenu .btn.btn-close  .btn-lines:after {
            transform: rotate(-45deg);
            background-color: #FFFBFB;
        }


        /* 出现问题, m-topmenu and m-lfmenu 出现了层叠的问题,由于 m-lfmenu 后出现且覆盖了
           整个屏幕,导致了什么问题?导致注册在 m-topmenu 上的点击事件无法点击了,也就被 m-lfmenu 挡住了,
           所以这时候,层叠就至关重要了 z-index */

        /* m-lfmenu 模块化代码走起 */

        .m-lfmenu {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            min-height: 100%;
            height: 100%;
            width: 100%;
            z-index: 4;
            /* 父层叠 */
        }


        /* A面 */
        .m-lfmenu .band {
            position: absolute;
            top: 0;
            left: 0;
            background: #fafafa;
            min-height: 100%;
            height: 100%;
            width: 80px;
            cursor: pointer;
            border-right: 1px solid #f2f2f2;
            overflow: hidden;
            color: #000;
            transform: translate3d(0,0,0);
            transition: width .3s linear;
            z-index: 5;
            /* 子层叠 */
        }

        .m-lfmenu .band:hover {
            width: 100px;
        }

        .m-lfmenu .band .microanimation {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #d4d4d5;
            opacity: 0;
        }

        .m-lfmenu .band .microanimation.animate {

            animation: change .7s;
        }
        @keyframes change {
            0% {
                opacity: 1;
                height: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                /* 把动画定位到中心位置开始 */
                width: 100%;
            }
            50% {
                opacity: .6;
            }
            100% {
                opacity: 0;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        }


        .m-lfmenu .band .logo {
            position: absolute;
            top: 22px;
            font-size: 18px;
            left: 18px;
            color: rgba(0,0,0,.95);
            transition: left .3s;
        }

        .m-lfmenu .band .rgarrow {
            font-family: NeutraDisp-BoldAlt;
            font-size: 10px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            letter-spacing: 2px;
            position: absolute;
            top: 50%;
            left: 20px;
            margin-top: -10px;
            overflow: hidden;
            height: 17px;
            width: 41px;
            transform: rotate(-90deg);
            transition: opacity .3s;
            z-index: 4;
            /* 子层叠 */
        }

        .m-lfmenu .band .lfarrow {
            font-family: NeutraDisp-BoldAlt;
            font-size: 10px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            letter-spacing: 2px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -12px;
            height: 17px;
            width: 41px;
            transform: rotate(-90deg);
            will-change: opacity;
            transition: opacity .3s .2s;
            z-index: 4;
            /* 子层叠 */
            opacity: 0;
        }


        /* B面 */
        .m-lfmenu .B {
            display: none;
            position: absolute;
            top: 0;
            left: 80px;
            right: 0;
            width: calc(100% - 80px);
            /* 让浏览器自动计算宽度,只要填好需要的长度表达式,在PC端基本兼容,但是移动端惨不忍睹 */
            min-height: 100%;
            height: 100%;
            z-index: 4;
            /* 子层叠 */
            background: rgba(255, 255, 255, 0);
            font-size: 0;
            /* 主要为了解决inline-block之间那个1px的空隙的历史问题 */
            animation: changeB_a .5s;
        }

        @keyframes changeB {
            0% {
                display: none;
            }
            100% {
                display: block;
            }
        }

        @keyframes changeB_a {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .m-lfmenu .B a {
            position: relative;
            height: 100%;
            width: 20%;
            background: transparent;
            display: inline-block;
            transition: transform .8s;
        }

        .m-lfmenu .B a:hover {
            transform: scale(1.2);
        }
            /* 文字描述 */
        .m-lfmenu .B .dpt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            font-size: 2rem;
            color: white;
            font-style: oblique;
            font-weight: 100;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            letter-spacing: 2px;
        }
            /* 图片背景 */
        .m-lfmenu .B .Bbg {
            height: 100%;
            background-size: cover;
        }
        .m-lfmenu .B .Bbg.one{
            background: url("../public/imgs/Asset1.jpg");
            background-size: cover;
        }
        .m-lfmenu .B .Bbg.two{
            background: url("../public/imgs/Asset2.jpg");
            background-size: cover;
        }
        .m-lfmenu .B .Bbg.three{
            background: url("../public/imgs/Asset3.jpg");
            background-size: cover;
        }
        .m-lfmenu .B .Bbg.four{
            background: url("../public/imgs/Asset4.jpg");
            background-size: cover;
        }
        .m-lfmenu .B .Bbg.five{
            background: url("../public/imgs/Asset5.jpg");
            background-size: cover;
        }


        /* m-rightArea */
        .m-rightArea {
            position: relative;
            margin-left: 80px;
            top: 0;
            left: 0;
            width: calc(100% - 80px);
            height: 500px;
            overflow: hidden;
            z-index: 3;
            /* 父层叠 */

        }

        .m-rightArea .mac_video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
        }

        .m-rightArea .mac_video video {
            position: relative;
            width: 50%;
        }

        /* .m-footer start */
        .m-footer {
            position: relative;
            width: 100%;
            height: 60px;
            background: rgba(0, 0, 0, 0);
            box-shadow: 0 10px 10px 10px rgba(0,0,0,.87);

        }

        /* 左边图标链接部分 */
        .m-footer .left {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            font-size: 25px;
        }

        @media all and (max-width: 48em) {
            .m-footer .left {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
                font-size: 25px;
            }
        }

        .m-footer .left a {
            color: #000;
        }

        .m-footer .left i:first-child:hover {
            color: #00ACED;
        }

        .m-footer .left i:hover {
            color: red;
        }
        .m-footer .left i:last-child:hover {
            color: #4bd169;
        }



        /* 中间链接部分 */
        .m-footer .list {
            /* 联系列表 */
            display: table;
            /* table 很神奇 */
            text-align: center;
            font-size: 1rem;
            padding-top: 10px;
            margin: 0 auto;
            line-height: 3;
            font-style: oblique;
            font-weight: 100;
        }

        @media all and (max-width: 48em) {
            .m-footer .list {
                display: none;
            }
        }

        .m-footer .list a {
            display: inline-block;
            color: #9090bd;
        }

        .m-footer .list a:hover {
            color: #71beff;
        }
        .m-footer .list .concat {
            display: inline-block;
            margin: 0 5px;
        }

        ::selection {
            background: #12c48b;
            color: #fff;
            text-shadow: none;
        }

        /* .m-footer end */
    </style>


</head>
<!--no-scroll 切换-->
<body id="bodyToggle" class="no-scroll">

<!-- loader -->

<div id="loader-wrapper">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <canvas width="400" height="200"> Waiting... </canvas>
    <div class="load_title">
        <span>DearSW loading...</span>
        <br>
        <span>V1.0</span>
    </div>
</div>


<!------------------------------------------------------------------>
<!--背景制作-->
<!--bg-paused 切换-->
<div id="bgToggle" class="bg">
    <!--1-->
    <picture class="bg-position" style="background-image: url(../public/imgs/odient/odient-1-desktop.jpg);">
        <source srcset="./images/odient/odient-1-desktop.jpg 1x, ./images/odient/odient-1-desktop-2x.jpg 2x" media="(min-width: 1024px)">
        <source srcset="./images/odient/odient-1-tablet.jpg 1x, ./images/odient/odient-1-tablet-2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="./images/odient/odient-1-mobile.jpg 1x, ./images/odient/odient-1-mobile-2x.jpg 2x">
    </picture>
    <!--2-->
    <div class="bg-animations">
        <picture class="bg-position bg-animation bg-z1"  style="background-image: url(../public/imgs/odient/odient-1-desktop.jpg);">
            <source srcset="./images/odient/odient-1-desktop.jpg 1x, ./images/odient/odient-1-desktop-2x.jpg 2x" media="(min-width: 1024px)">
            <source srcset="./images/odient/odient-1-tablet.jpg 1x, ./images/odient/odient-1-tablet-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/odient/odient-1-mobile.jpg 1x, ./images/odient/odient-1-mobile-2x.jpg 2x">
        </picture>
        <picture class="bg-position bg-animation bg-z2"  style="background-image: url(../public/imgs/odient/odient-2-desktop.jpg);">
            <source srcset="./images/odient/odient-2-desktop.jpg 1x, ./images/odient/odient-2-desktop-2x.jpg 2x" media="(min-width: 1024px)">
            <source srcset="./images/odient/odient-2-tablet.jpg 1x, ./images/odient/2-tablet-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/odient/odient-2-mobile.jpg 1x, ./images/odient/odient-2-mobile-2x.jpg 2x">
        </picture>
        <picture class="bg-position bg-animation bg-z3" style="background-image: url(../public/imgs/odient/odient-3-desktop.jpg);">
            <source srcset="./images/odient/odient-3-desktop.jpg 1x, ./images/odient/odient-3-desktop-2x.jpg 2x" media="(min-width: 1024px)">
            <source srcset="./images/odient/odient-3-tablet.jpg 1x, ./images/odient/odient-3-tablet-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/odient/odient-3-mobile.jpg 1x, ./images/odient/odient-3-mobile-2x.jpg 2x">
        </picture>
    </div>
</div>


<!-----------------------header 开始------------------------------------------->
<header id="header">

    <!-- 最上面菜单栏 -->
    <div id="topMenu">
        <div class="m-topmenu">
            <!--按钮 toggle 切换 btn-close添加在这里-->
            <a id="btnToggle" class="btn btn-close" href="#" >
                <div class="btn-lines"></div>
            </a>
        </div>
    </div>


    <!-- 左侧菜单栏 -->
    <div id="lfMenu">
        <div class="m-lfmenu">

            <!-- 背景 -->
            <div class="menubg">
            </div>

            <!-- 正面显示的菜单项 width:(80-100)-->
            <div class="band">

                <!-- microanimation -->
                <div class="microanimation">

                </div>

                <!-- logo -->
                <a href="#" class="logo">
                    <i class="icon github big"></i>
                </a>
                <!-- right arrow opacity:(1-0)-->
                <div class="rgarrow">
                    <!--<i class="icon right arrow big"></i>-->
                    <span>menu</span>
                </div>

                <!-- left arrow  opacity:(0-1)-->
                <div class="lfarrow">
                    <!--<i class="icon left arrow big"></i>-->
                    <span>open</span>
                </div>
            </div>

            <!-- 反面显示的菜单 -->
            <div class="B">
                <a href="/backend">
                    <div class="Bbg one"></div>
                    <div class="dpt">
                        <p>BackEnd</p>
                    </div>
                </a>
                <a href="/articles">
                    <div class="Bbg two"></div>
                    <div class="dpt">
                        <p>文章</p>
                    </div>
                </a>
                <a href="/blogs">
                    <div class="Bbg three"></div>
                    <div class="dpt">
                        <p>资源</p>
                    </div>
                </a>
                <a href="https://github.com/DearSW">
                    <div class="Bbg four"></div>
                    <div class="dpt">
                        <p>GitHub</p>
                    </div>
                </a>
                <a href="/about">
                    <div class="Bbg five"></div>
                    <div class="dpt">
                        <p>About</p>
                    </div>
                </a>
            </div>



        </div>
    </div>

    <!-- 右侧菜单栏 -->
    <div id="rgMenu">
        <div class="m-rightArea">
            <div class="mac_video">
                <video class="video" autoplay="" loop="" src="../public/videos/uzik.mp4" ></video>
            </div>
        </div>
    </div>


</header>


<!--------------------------body 开始------------------------------------------------->

<!--主体-->
<!--这里有一个切换，nav-fade-in-->
<div id="contentToggle" class="hide">
    <!--下面都是内容去域-->

    <!-- 消息提示区 -->
    <div>
        <div class="ui grid container">
            <div class="one column row">
                <div class="column">

                    <h3 class="ui header aligned center">Message</h3>
                    <div class="ui segment">
                        <div>
                            <!-- 传入的 req.flash().toString()参数-->
                            <% if (success) { %>
                            <p><%= success %></p>
                            <% } %>
                            <% if (error) { %>
                            <p><%= error %></p>
                            <% } %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>