


<!-- 主页 -->


<%- include header2 %>

        <div>

            <!-- slider -->
            <div class="ui grid container">
                <div class="one column row">
                    <div class="column">
                        <div class="ui segment">

                            <!-- 轮播 -->
                            <div id="slide">

                                <a href="#">
                                    <div class="moni">
                                    </div>
                                </a>

                                <div class="source">
                                    <a href=""><img class="pure-img" src="../public/imgs/slide/1.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--article-->

            <div class="ui grid container">
                <div class="one column row">
                    <div class="column">
                        <div class="ui segment">
                            <!-- 文章 -->
                            <div class="article inner">
                                <section>

                                    <!--title-->
                                    <div class="title">
                                        <div class="intro-inner">
                                            <h1>DearSW</h1>
                                        </div>
                                    </div>

                                    <!--content-->
                                    <div class="text">
                                        <div class="text-inner">
                                            <h1>Hello,my dear friends.</h1>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- footer -->
            <div class="ui grid container">
                <div class="one column row">
                    <div class="column">
                        <div class="ui segment">
                            <!-- footer -->
                            <footer>
                                <!-- footer start -->
                                <div class="m-footer" data-structure="footer">

                                    <!-- 来一个小列表 展示一点信息 -->
                                    <div class="list">
                                        <a href="https://github.com/DearSW">DearSW</a>
                                        <div class="concat">-</div>
                                        <a href="https://github.com/DearSW">Contact</a>
                                        <div class="concat">-</div>
                                        <a href="https://github.com/DearSW">Github</a>
                                    </div>
                                </div>
                                <!-- footer end -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    <!--------------------------------------------------------------------------->
    <!--  引入 jquery3.0 -->

    <script src="../public/lib/jquery/jquery.min.js"></script>
    <!-- loader JS -->
    <script src="../public/js/components/loader.js"></script>
    <script>
        $(window).load(
                setTimeout(function(){
                    $('body').addClass('loaded');
                    $('#loader-wrapper .load_title').remove();
                    $('#loader-wrapper canvas').remove();
                },4000)
        );
    </script>

    <script>
        $(function () {

            'usr strict';

            // 获取头部,左侧栏的所有操作对象
            var lfMenu = $('header .m-lfmenu');
            var bands = $('header .band');// band  A
            var rgArrow = $('header .band .rgarrow');// menu
            var lfArrow = $('header .band .lfarrow');// open
            var logo = $('header .band .logo');// logo
            var microanimation = $('header .band .microanimation'); // microanimation
            var B = $('header .B');// B
            var timer;
            // 绑定鼠标事件,产生交互效果,动画缓动使用css的transition属性,在css中定义,也可以在$.css()函数中定义;
            // 鼠标滑入
            bands.on('mouseover', function () {
                rgArrow.css('opacity', 0);
                lfArrow.css('opacity', 1);
                logo.css('left','32px');
                microanimation.addClass('animate');
            });
            // 鼠标滑出
            bands.on('mouseout', function () {
                rgArrow.css('opacity', 1);
                lfArrow.css('opacity', 0);
                logo.css('left','18px');

                microanimation.removeClass('animate');


            });
            // 点击事件,打开菜单栏
            bands.on('click', function () {
                B.slideToggle("fast");
            });


        });

    </script>

    <script>

        //toggle() 方法切换元素的可见状态。
        //如果被选元素可见，则隐藏这些元素，如果被选元素隐藏，则显示这些元素。
        //toggleClass() 对设置或移除被选元素的一个或多个类进行切换。
        //该方法检查每个元素中指定的类。如果不存在则添加类，如果已设置则删除之。这就是所谓的切换效果。
        $(function() {

            'use strict';

            // 使用js进行控制样式的切换
            $("#btnToggle").click(function() {

                // 顶部右侧按钮样式切换 三条横线和叉
                $(this).toggleClass("btn-close");


                // 动态背景的暂停切换
                $("#bgToggle").toggleClass("bg-paused");

                // lfMenu 需要消失
                $('#lfMenu').toggleClass('hide');

                // body页面的样式切换 overflow:hidden 和 overflow:scroll, background切换;
                $("#bodyToggle").toggleClass("no-scroll");

                // 正文在导航也页面时是隐藏的
                $("#contentToggle").toggleClass("hide");


            });
        });
    </script>

    <script>
        $(function () {
            var settings = {
                nowimg: 1,
                sumimg: 5
            };

            for(var i = 0; i < 40; i++) {
                $("#slide .moni").append("<p></p>");
            }
            var timeout;

            $(".moni p").each(function () {

                var a = $(this).index() % 8 * 100;
                var b = parseInt($(this).index() / 8 )* 89;
                $(this).css({
                    "left": a,
                    "top": b,
                    "background-position": (-a) + "px " + (-b) + "px",
                    "position": "absolute"
                });
            });

            function move(){

                //加过渡：
                $(".moni p").css("transition","all 2.5s ease 0s");
                //加过渡的特效
                $(".moni p").each(function () {
                    var random = parseInt(Math.random() * 20 + 1);
                    $(this).css("transform", "rotateX(" + 30*random + "deg)" + "rotateY(" + 10*random + "deg)" + "translateZ(" + 40*random + "px)");
                });
                $(".moni").addClass("fei");
                $(".momi p").addClass("pure-img");
                //在过渡的同时就换上了下一个背景，衔接更自然；
//              //src="../public/imgs/slide/1.jpg"
                $(".moni p").css("background-image","url(../public/imgs/slide/" + settings.nowimg + ".jpg)");
                $(".source img").attr("src","../public/imgs/slide/" + settings.nowimg + ".jpg");

                setTimeout(function(){
                    //去掉过渡
                    $(".moni p").css("transition","none");
                    //去掉特效
                    $(".moni").removeClass("fei");
                    $(".moni p").each(function () {
                        $(this).css("transform", "none");
                    });
                },2000);
            }

            function advance() {
                clearTimeout(timeout);
                if(settings.nowimg < settings.sumimg) {
                    move();
                    settings.nowimg ++;
                    if(settings.nowimg == settings.sumimg) {
                        settings.nowimg = 1;
                    }
                    timeout = setTimeout(advance,5000);
                }

            }
            advance();

        })
    </script>
</body>
</html>