<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <title>Login</title>
    <meta name="keywords" content="DearSW">
    <meta name="author" content="DearSW">
    <meta name="description" content="DearSW">
    <!--IE兼容模式，优先使用最新版的IE和Chrome内核-->
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1" />

    <!--强制优先使用360webkit内核-->
    <meta name="renderer" content="webkit" />

    <!--为移动端设备优化，设置看见区域的宽度和初始缩放比例-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- icon图标 -->
    <link rel="short icon" type="image/icon" href="../public/imgs/icon/icon.jpg">

    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/normalizeForDearSW.css">

    <!-- icon -->
    <link rel="stylesheet" href="../public/css/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="../public/css/login.css">

    <style>

        html,
        body {
            position: relative;
            overflow: hidden;
            height: 100%;
            background: rgba(255, 255, 255, 0.94);
            font-size: 1rem;
            word-spacing: 5px;
            font-weight: 300;
        }
        /* header */
        header {
            position: relative;
        }
        .progress-line {
            width: 100%;
            height: 5px;
            background: #0f88eb;
        }

        header a {
            position: absolute;
            transition: all .3s;
            top: 22px;
        }

        header a:hover {
            transform: scale(1.5);
        }

        header a .back {
            position: relative;
            border: 30px solid #0f88eb;
            border-color: transparent #0f88eb transparent transparent;
        }

        .message {
            position: absolute;
            top: 48px;
            left: 50%;
            width: 50%;
            height: 37px;
            transform: translateX(-50%);
            background: rgba(150, 194, 233, 0.59);
            color: #000;
            z-index: 0;
            text-align: center;
            opacity: 1;
            transition: all .3s;
        }

        @keyframes message {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        /* footer */
        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            /* height: 5px; */
            width: 100%;
        }

    </style>

</head>
<body>
    <div class="message">
        <% if (success) { %>
            <p><%= success %></p>
        <% } %>
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
    </div>
    <!----------------------------------------------------->
    <header id="header">
        <div class="progress-line"></div>

        <a href="/">
            <div class="back">

            </div>
        </a>
    </header>

    <section id="content">

        <div class="container">
            <!--表单-->
            <div class="form-login-1">

                <!-----------------------表单头部------------------------------->

                <div class="title">
                    <!--logo-->
                    <h1 class="logo hide-text">DearSW</h1>
                    <!--子标题-->
                    <h2 class="subtitle">人生不止有代码、 还有诗和远方</h2>
                </div>

                <!-----------------------表单主体----------------------------------->

                <div class="body clearfix">
                    <!----------------注册与登录的导航------------------------>
                    <div class="tab-nav">
                        <div class="tab-nav-center">
                            <a  href="#reg">Register</a>
                            <a  href="#login" class="active">Login</a>
                        </div>

                        <span class="nav-bottom"></span>
                    </div>

                    <!--------------------表单登录-------------------------->
                    <div class="signInform" >

                        <!--表单-->
                        <form id="login" action="/login" method="post" enctype="application/x-www-form-urlencoded">
                            <!--防xsrf攻击，利用hidden来隐藏一些数据，但是又可以发送到服务器-->
                            <input type="hidden" name="_xsrf" value="d3e0e77c8c03f69ef85719437b8cc176">
                            <div class="group-inputs">
                                <input type="text" placeholder="Username" required>
                                <input type="password" placeholder="Password" required>
                            </div>
                            <!--登录按钮-->
                            <div class="btn">
                                <input type="submit" value="Login">
                            </div>
                            <!--帮助-->
                            <div class="help">
                                <label class="remember-me">
                                    <input type="checkbox" name="remember_me" checked="" value="true"> Remember
                                </label>
                                <a class="unable-login" href="#">Can`t login?</a>
                            </div>
                            <!--社交账号-->
                            <div class="weibo-signup-wrapper clearfix">
                                <span class="name js-toggle-sns-buttons">Authorization Login</span>

                                <div class="sns-buttons" style="visibility: hidden;">
                                    <a title="微信登录" class="js-bindwechat" href="#"><i class="icon weixin"></i></a>
                                    <a title="微博登录" class="js-bindweibo" href="#"><i class="icon weibo"></i></a>
                                    <a title="QQ 登录" class="js-bindqq" href="#"><i class="icon qq"></i></a>
                                </div>
                            </div>
                        </form>


                        <!--二维码-->
                        <div class="QRCode">
                            <button class="QRCode-toggleButton">
                                <span class="sprite-index-icon-qrcode"></span>
                                <span class="QRCode-toggleButtonText ">Download App</span>
                            </button>
                            <div class="QRCode-card" style="display: none;">
                                <div class="QRCode-image"></div>
                                <div class="sprite-index-icon-arrow"></div>
                            </div>
                        </div>
                    </div>




                    <!----------------------表单注册--------------------------->
                    <div class="signUpform" style="display: none;">

                        <!--表单-->
                        <form id="reg" action="/reg" method="post">
                            <div class="group-inputs">
                                <input required type="text" name="name"  placeholder="Username">
                                <input required type="password" class="account" name="password"  placeholder="Password（more than 6）">
                                <input required type="password" name="password-repeat"  placeholder="Repeat password">
                                <input required type="email" name="email" placeholder="Email">
                            </div>
                            <div class="btn">
                                <input type="submit" value="Register">
                            </div>
                        </form>

                        <!--二维码-->
                        <div class="QRCode">
                            <button class="QRCode-toggleButton">
                                <span class="sprite-index-icon-qrcode"></span>
                                <span class="QRCode-toggleButtonText ">Download App</span>
                            </button>
                            <div class="QRCode-card" style="display: none;">
                                <div class="QRCode-image"></div>
                                <div class="sprite-index-icon-arrow"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="progress-line"></div>
    </footer>

    <!-- JQ 3.0 -->
    <script src="../public/lib/jquery/jquery.min.js"></script>
    <script src="../public/js/login.js"></script>
    <script>
        (function ($) {
            $(function () {

                // 处理触摸屏幕事件

                // 定位到 指定元素
                var back = $('header a .back');
                $(document).on('touchstart', function() {
                    console.log('start');
                });
                $(document).on('touchmove', function () {
                    back.css( 'borderColor', 'transparent red transparent transparent');

                })
                $(document).on('touchend', function () {
                    back.css( 'borderColor', 'transparent #0f88eb transparent transparent')
                })
            });



        })(jQuery);
    </script>

</body>
</html>