

/*
*组件
*继承、封装
*/

/*container*/
#parallax_wrapper {
    position: relative;
    z-index: 0;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

/*背景*/
#parallax_field {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 370px;
    width: 100%;
}
#parallax_field #parallax_bg {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 110%;
    height: 425px;
    z-index: 1;
}

/*背景组件*/
#parallax_illustration {
    display: block;
    margin: 0 auto;
    width: 940px;
    height: 370px;
    position: relative;
    overflow: hidden;
    clear: both;
}
#parallax_illustration img {
    position: absolute;
}

/*1*/
#parallax_illustration #parallax_error_text {
    top: 72px;
    left: 72px;
    z-index: 10;
}
/*2*/
#parallax_illustration #parallax_octocat {
    top: 94px;
    left: 356px;
    z-index: 9;
}
/*3*/
#parallax_illustration #parallax_speeder {
    top: 150px;
    left: 432px;
    z-index: 8;
}
/*4*/
#parallax_illustration #parallax_octocatshadow {
    top: 297px;
    left: 371px;
    z-index: 7;
}
/*5*/
#parallax_illustration #parallax_speedershadow {
    top: 263px;
    left: 442px;
    z-index: 6;
}
/*6*/
#parallax_illustration #parallax_building_1 {
    top: 73px;
    left: 467px;
    z-index: 5;
}
/*7*/
#parallax_illustration #parallax_building_2 {
    top: 113px;
    left: 762px;
    z-index: 4;
}

#auth {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    min-height: 32px;
    background-color: rgba(53,95,120,.4);
    padding: 7px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.28);
    display: none;
}