

/************************ left *****************************/
html,
body {
    position: relative;
    min-height: 100%;
}


.m-leftmenu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100%;
    width: 200px;
    background: #828da6;
}

.m-leftmenu .logo {
    position: relative;
    display: table;
    height: 80px;
    width: 200px;
    background: #495a6b;
    font-size: 30px;
    line-height: 2;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
}


.m-leftmenu .ui.vertical.menu{
    width: inherit !important;
}

.m-leftmenu .menu a:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
    border: 13px solid;
    border-color: transparent transparent transparent #828DA5;
}

.m-leftmenu .articlesearch {
    display: table;
    margin: 20px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/************************ right top *****************************/

.m-righttop {
    position: relative;
    width: calc(100% - 200px);
    /* top: -50px; */
    /* left: 0; */
    height: 80px;
    background: #FFFFFF;
    margin-left: 200px;
}

.m-righttop .title {
    position: absolute;
    top: 50%;
}

.m-righttop .dropbtn {
    position: absolute;
    top: 80px;
    right: 0;
    border-color: transparent #9E9E9E transparent transparent;
    cursor: alias;
}
.m-righttop .dropbtn select {
    position: relative;
    width: 103px;
    height: 38px;
    border: none;
    outline: none;
    display: table;
    color: #f9f0f0;
    background: #009688;
    font-size: 14px;
}

.m-righttop .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 30px;
    text-align: center;
    line-height: 2;
    background: #d4d4d5;
    color: rgba(255,255,255,.9);
}

.m-righttop .tx {
    position: absolute;
    right: 5%;
    top: 50%;
}
/************************* right center index *************************/

.m-rightcenter {
    width: calc(100% - 200px);
    background: #ebeaf2;
    min-height: 100%;
    margin-left: 200px;
    padding: 43px;
}

.m-rightcenter article {
    background-color: #fff;
    padding: 15px 22px;
    border-radius: 5px;
}


/************************* right center register *************************/

.m-rightcenter .ui.form .field{
    margin: 0 auto;
    padding: 5px;
}


/************************* right center login *************************/






/************************* right center post *************************/

.m-rightcenter .postarticletitle {
    display: table;
}
.m-rightcenter .postarticletitle input {
    width: 400px;
}

.m-rightcenter .postcontent {
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.m-rightcenter .postcontent textarea {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    padding: 20px;
    border-color: rgba(0,0,0,.4);
    resize: none;
}

.m-rightcenter .postcontent iframe {
    width: 100%;
    height: 300px !important;
}

.m-rightcenter .postbtn input {
    position: relative;
    display: table;
    margin: 5px auto 0;
    width: 100%;
    height: 35px;
    background: #21ba45;
    border-radius: 5px;
}
.m-rightcenter .postbtn input:hover {
    background: rgba(34, 150, 32, 0.9);
}

/************************* right center edit *************************/

.m-rightcenter .cancelEdit {
    position: absolute;
    top: 22%;
    right: 7%;
    font-size: 1rem;
}

.m-rightcenter .cancelEdit button:hover {
    background: #e50000;
}

.m-rightcenter .cancelEdit a {
    color: #767676;
}

.m-rightcenter .cancelEdit a:hover {
    color: snow;
}







/************************* right center article *************************/
