
/* 主页index2的样式 */

#bodyToggle {
    height: auto !important;
}

/**
 *切换到导航时，才添加这个类
 */

.no-scroll {
    overflow: hidden;
    background: #ff4500 !important;
    /* 设置为 !important 是为了防止与semantic起冲突 */
}

@media all and (max-width: 48em) {
    .no-scroll {
        overflow: scroll;
    }
}




/*--------------------------------------*/
/**
 * header
 */

#header {
    position: relative;
    width: 100%;
    z-index: 9999;
}

.box-inner {
    width: 70%;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 10px;
    display: table;
    /*table 妙用啊*/
}


.btn {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    height: 14px;
    width: 18px;
    display: table-cell;
    vertical-align: middle;
}

.btn .btn-inner {
    position: relative;
    display: block;
    height: 100%;
}

.btn-lines {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    margin-left: -8px;
    margin-top: -1px;
    height: 2px;
    background-color: #000;
    backface-visibility: hidden;
    transition: background-color .2s ease;
}

.btn-lines:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all .2s ease;
    transform: translate(0,-6px);
}

.btn-lines:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all .2s ease;
    transform: translate(0,6px);
}

/*切换状态*/
.btn-close .btn-lines {
    height: 0;
}

.btn-close .btn-lines:before {
    transform: rotate(45deg);
    background-color: #FFFBFB;
}

.btn-close .btn-lines:after {
    transform: rotate(-45deg);
    background-color: #FFFBFB;
}


/*------------------------------------------------*/

/**
 * nav
 */
#nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
}


#nav a span {
    display: inline-block;
    padding-top: 125px;
    font-size: 20px;
    font-family: cursive,sans-serif;
    color: #fcfff6;
}

@media all and (max-width: 48em) {

    #nav {
        height: 400px;
        text-align: left;
        overflow: auto;
    }
    #nav a span {
        padding-top: 10px;
    }
}

.box-outer {
    width: 85%;
    margin: 0 auto;
}

@media all and (max-width: 48em) {
    .nav-items {
        margin-left: 43px;
    }
}


.mp {
    margin: 70px 0;
    padding-left: 85px;
    color: #fcfff6;
    font-size: 17px;
    font-family: MarkWeb,Avenir Next,Helvetica Neue,Helvetica,sans-serif;
}

@media all and (max-width: 48em) {
    .mp {
        margin: 15px 0;
        padding-left: 43px;
    }
}

.mp a {
    color: #fcfff6;
}
#nav .mp {
    text-align: left;
}

/*-----------------------------------------------------------*/

/**
 * 主体
 */

.inner {
    padding: 100px 10% 0 10%;
    margin: 8px 8px 0 8px;
    background: #fcf2ff;
}

@media (min-width: 48em) {
    .inner {
        margin: 45px 100px 0 100px;
    }
}


@media all and (max-width: 48em) {
    .inner {
        padding-top: 70px;
        margin: 20px 15px 0 15px;
    }
}
.article {
    position: relative;
    z-index: 999;
}

.nav-fade {
    opacity: 0;
    transition: opacity .5s ease;
}

/*这里是一个切换，切换时，去掉它*/
.nav-fade-in {
    opacity: 1;
    transition: opacity .5s ease;
}


/*正文*/
.article .text {
    position: relative;
}

.text .text-inner {
    padding-top: 25px;
}


/*-----footer------*/
/*特殊样式*/
.footerforindex {
    padding-bottom: 8px;
}



/*about*/
.about ul {
    list-style: disc;
    margin-left: 35px;
    font-size: 12px;
}
.about li {
    list-style: inherit;
    padding-top: 10px;
}

.about ul:last-child {
    padding-bottom: 20px;
}

/*--------------------------------------------------------*/
/*[class *= "pure-u"] {*/
    /*outline: 1px solid black;*/
/*}*/

/*.l-box {*/
    /*padding: 1em;*/
/*}*/