
/* 主页index2的样式 */


/**
 *切换到导航时，才添加这个类
 */

.no-scroll {
    overflow: hidden;
    background: #ff4500 !important;
    /* 设置为 !important 是为了防止与semantic起冲突 */
}

@media all and (max-width: 48em) {
    .no-scroll {
        overflow: hidden;
    }
}

/*--------------------------------------*/
/**
 * header
 */

#header {
    position: relative;
    width: 100%;
    z-index: 9999;
}

/*------------------------------------------------*/


/**
 * 主体
 */

.nav-fade {
    opacity: 0;
    transition: opacity .5s ease;
}

/*这里是一个切换，切换时，去掉它*/
.nav-fade-in {
    opacity: 1;
    transition: opacity .5s ease;
}

