
/* 主页index2的样式 */

#bodyToggle {
    height: auto !important;
}

/**
 *切换到导航时，才添加这个类
 */

.no-scroll {
    overflow: hidden;
    background: #ff4500 !important;
    /* 设置为 !important 是为了防止与semantic起冲突 */
}

@media all and (max-width: 48em) {
    .no-scroll {
        overflow: scroll;
    }
}


/*--------------------------------------*/
/**
 * header
 */

#header {
    position: relative;
    width: 100%;
    z-index: 9999;
}



/*------------------------------------------------*/



/*-----------------------------------------------------------*/

/**
 * 主体
 */

.inner {
    padding: 100px 10% 0 10%;
    margin: 8px 8px 0 8px;
    background: #fcf2ff;
}

@media (min-width: 48em) {
    .inner {
        margin: 45px 100px 0 100px;
    }
}


@media all and (max-width: 48em) {
    .inner {
        padding-top: 70px;
        margin: 20px 15px 0 15px;
    }
}
.article {
    position: relative;
    z-index: 999;
}

.nav-fade {
    opacity: 0;
    transition: opacity .5s ease;
}

/*这里是一个切换，切换时，去掉它*/
.nav-fade-in {
    opacity: 1;
    transition: opacity .5s ease;
}


/*正文*/
.article .text {
    position: relative;
}

.text .text-inner {
    padding-top: 25px;
}

/*about*/
.about ul {
    list-style: disc;
    margin-left: 35px;
    font-size: 12px;
}
.about li {
    list-style: inherit;
    padding-top: 10px;
}

.about ul:last-child {
    padding-bottom: 20px;
}

/*--------------------------------------------------------*/
