
/*基础样式*/
#slide {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 39px;
    display: block;
    max-height: 445px;
}
#slide .moni {
    perspective:9999px;
}
#slide .moni p {
    position: absolute;
    width: 100px;
    height: 89px;
    background-image:url(../imgs/slide/1.jpg);
}

#slide .moni.fei p{
    opacity: 0;
}

/*颜色样式*/


/*尺寸样式*/


/*并列元素样式*/


/*嵌套子元素样式*/


/*特殊样式*/
