
/*
 * 手风琴效果accordion
 * structure:
 *      ul.accordion
 *          > li
 *              > div.accordion-control
 *              > div.accordion-panel
                    >div.accordion-content
 */


/*---------基础样式------------*/
.accordion {
    display: block;
    border: 1px solid transparent;
    line-height: 1.6;
    text-align: left;
    overflow: hidden;

}
.accordion-control {
    border-radius: 12px;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
}
.accordion-panel {
    border-radius: 10px;
    margin-top: 5px;
    background: rgba(142, 142, 142, 0.07);
    display: none;
}
.accordion-content {
    width: 97%;
    margin: 0 auto;
}

.accordion-control.red {
    background: #FF264A;
}
.accordion-control.purple {
    background: #1C8EB9;
}
.accordion-control.blue {
    background: #54DDFF;
}
.accordion-control.green {
    background: #BFEDB7;
}
/*--------颜色样式-accordion-xx-------------*/