<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="DearSW">
    <meta name="author" content="DearSW">
    <meta name="description" content="DearSW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="short icon" type="image/icon" href="../public/imgs/icon/icon.jpg">

    <link rel="stylesheet" href="../public/css/pure-release-0.5.0/base-min.css">
    <link rel="stylesheet" href="../public/css/pure-release-0.5.0/grids-min.css">
    <link rel="stylesheet" href="../public/css/pure-release-0.5.0/grids-responsive-min.css">

    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/normalizeForDearSW.css">

    <link rel="stylesheet" href="../public/css/font-awesome-4.5.0/css/font-awesome.css">

    <link rel="stylesheet" href="../public/css/components/background-animation.css">
    <link rel="stylesheet" href="../public/css/components/footer-cards.css">
    <link rel="stylesheet" href="../public/css/index2.css">
    <link rel="stylesheet" href="../public/css/slide.css">
    <!--[if ite IE 8] >
    <link rel="stylesheet" href="../public/css/pure-release-0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--<script src="js/modernizr-custom.js"></script>-->
</head>
<!--no-scroll 切换-->
<!--此处去掉了no-scroll,为了文章显示-->
<body id="bodyToggle" class="">

<!------------------------------------------------------------------>
<!--背景制作-->
<!--bg-paused 切换-->
<div id="bgToggle" class="bg bg-paused">
    <!--1-->
    <picture class="bg-position" style="background-image: url(../public/imgs/odient/odient-1-desktop.jpg);">
        <source srcset="./images/odient/odient-1-desktop.jpg 1x, ./images/odient/odient-1-desktop-2x.jpg 2x" media="(min-width: 1024px)">
        <source srcset="./images/odient/odient-1-tablet.jpg 1x, ./images/odient/odient-1-tablet-2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="./images/odient/odient-1-mobile.jpg 1x, ./images/odient/odient-1-mobile-2x.jpg 2x">
    </picture>
    <!--2-->
    <div class="bg-animations">
        <picture class="bg-position bg-animation bg-z1"  style="background-image: url(../public/imgs/odient/odient-1-desktop.jpg);">
            <source srcset="./images/odient/odient-1-desktop.jpg 1x, ./images/odient/odient-1-desktop-2x.jpg 2x" media="(min-width: 1024px)">
            <source srcset="./images/odient/odient-1-tablet.jpg 1x, ./images/odient/odient-1-tablet-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/odient/odient-1-mobile.jpg 1x, ./images/odient/odient-1-mobile-2x.jpg 2x">
        </picture>
        <picture class="bg-position bg-animation bg-z2"  style="background-image: url(../public/imgs/odient/odient-2-desktop.jpg);">
            <source srcset="./images/odient/odient-2-desktop.jpg 1x, ./images/odient/odient-2-desktop-2x.jpg 2x" media="(min-width: 1024px)">
            <source srcset="./images/odient/odient-2-tablet.jpg 1x, ./images/odient/2-tablet-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/odient/odient-2-mobile.jpg 1x, ./images/odient/odient-2-mobile-2x.jpg 2x">
        </picture>
        <picture class="bg-position bg-animation bg-z3" style="background-image: url(../public/imgs/odient/odient-3-desktop.jpg);">
            <source srcset="./images/odient/odient-3-desktop.jpg 1x, ./images/odient/odient-3-desktop-2x.jpg 2x" media="(min-width: 1024px)">
            <source srcset="./images/odient/odient-3-tablet.jpg 1x, ./images/odient/odient-3-tablet-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/odient/odient-3-mobile.jpg 1x, ./images/odient/odient-3-mobile-2x.jpg 2x">
        </picture>
    </div>
</div>


<!------------------------------------------------------------------>
<header id="header">

    <div class="pure-g">
        <div class="pure-u-1">
            <div class="box-inner">
                <!--图标-->
                <a href="#"><i class="fa fa-subway fa-2x"></i></a>
                <!--按钮 toggle 切换 btn-close添加在这里-->
                <a href="/" id="btnToggle" class="btn">
                    <div class="btn-inner">
                        <div class="btn-lines"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</header>

<!------------------------------------------------------------------->
<!--<div id="nav" class="nav">-->

    <!--&lt;!&ndash;切换处 nav-fade-in，特殊导航面&ndash;&gt;-->
    <!--<div id="navToggle" class="nav-fade">-->
        <!--<div class="box-outer">-->
            <!--<div class="nav-items pure-g">-->
                <!--<div class="pure-u-1 pure-u-md-1-5"><a href="/"><span>主页</span></a></div>-->
                <!--<div class="pure-u-1 pure-u-md-1-5"><a href="/aritcles"><span>文章</span></a></div>-->
                <!--<div class="pure-u-1 pure-u-md-1-5"><a href="/blogs"><span>资源</span></a></div>-->
                <!--<div class="pure-u-1 pure-u-md-1-5"><a href="https://github.com/DearSW"><span>Github</span></a></div>-->
                <!--<div class="pure-u-1 pure-u-md-1-5"><a href="/about"><span>About</span></a></div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;导航footer&ndash;&gt;-->
        <!--<div class="box-outer">-->
            <!--<div class="pure-g">-->
                <!--<div class="pure-u-1 pure-u-md-1-3">-->
                    <!--<div class="mp">-->
                        <!--<span>Odopod SF</span>-->
                        <!--<br />-->
                        <!--<span>391 Grove Street, San Francisco, CA </span>-->
                        <!--<br />-->
                        <!--<span>94102</span>-->
                        <!--<br />-->
                        <!--<span>415.436.9980</span>-->
                        <!--<br />-->
                        <!--<a href="#">Map It↗</a>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="pure-u-1 pure-u-md-1-3">-->
                    <!--<div class="mp">-->
                        <!--<span>Odopod NY</span>-->
                        <!--<br />-->
                        <!--<span>1675 Broadway, New York, NY 10019</span>-->
                        <!--<br />-->
                        <!--<span>415.436.9980</span>-->
                        <!--<br />-->
                        <!--<a href="#">Map It↗</a>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="pure-u-1 pure-u-md-1-3">-->
                    <!--<div class="mp">-->
                        <!--<span>Get in Touch</span>-->
                        <!--<br />-->
                        <!--<span>Sign up for our newsletter +</span>-->
                        <!--<br />-->
                        <!--<a href="#">hello@odopod.com↗</a>-->

                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<!--------------------------------------------------------------------------->
<div class="clearfix"></div>
<!--主体-->
<!--这里有一个切换，nav-fade-in-->
<div id="contentToggle" class="pure-g">
    <!--下面都是内容去域-->
    <!--
        格式：
            <div class="pure-u-1">
            <div class="inner XXXX">
     -->
    <div class="pure-u-1">
        <div class="inner">
            <h3>Message</h3>
            <% if (success) { %>
            <p><%= success %></p>
            <% } %>
            <% if (error) { %>
            <p><%= error %></p>
            <% } %>
        </div>
    </div>
