
<%- include header2 %>

        <!--slide-->
        <div class="pure-u-1">
            <div class="inner">
                <div id="slide">

                    <a href="#">
                        <div class="moni">
                        </div>
                    </a>

                    <div class="source">
                        <a href=""><img class="pure-img" src="../public/imgs/slide/1.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

        <!--article-->
        <div class="pure-u-1">
            <div class="article inner">
                    <section>

                        <!--title-->
                        <div class="title">
                            <div class="intro-inner">
                                <h1>DearSW</h1>
                            </div>
                        </div>

                        <!--content-->
                        <div class="text">
                            <div class="text-inner">
                                <h1>Hello,my dear friends.</h1>
                            </div>
                        </div>

                    </section>
            </div>
        </div>

        <!--footer-->
        <div class="pure-u-1">
            <footer class="footer-cards green inner footerforindex">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                        <!--1 card-->
                        <a>
                            Live preview
                            <i class="fa fa-th"></i>
                        </a>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        <!--2 card-->
                        <a>
                            Screenshots
                            <i class="fa fa-photo"></i>
                        </a>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        <!--3 card-->
                        <a>
                            Share
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-facebook-f"></i>
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <!--------------------------------------------------------------------------->
    <script src="../public/js/jquery-1.12.4.js"></script>
    <script>

        //toggle() 方法切换元素的可见状态。
        //如果被选元素可见，则隐藏这些元素，如果被选元素隐藏，则显示这些元素。
        //toggleClass() 对设置或移除被选元素的一个或多个类进行切换。
        //该方法检查每个元素中指定的类。如果不存在则添加类，如果已设置则删除之。这就是所谓的切换效果。
        $(function() {
            $("#btnToggle").click(function() {
                $(this).toggleClass("btn-close");
                $("#bodyToggle").toggleClass("no-scroll");
                $("#nav").toggleClass("hide");
                $("#navToggle").toggleClass("nav-fade-in");
                $("#contentToggle").toggleClass("hide");
                $("#bgToggle").toggleClass("bg-paused");
            });
        });
    </script>

    <script>
        $(function () {
            var settings = {
                nowimg: 1,
                sumimg: 5
            };

            for(var i = 0; i < 40; i++) {
                $("#slide .moni").append("<p></p>");
            }
            var timeout;

            $(".moni p").each(function () {

                var a = $(this).index() % 8 * 100;
                var b = parseInt($(this).index() / 8 )* 89;
                $(this).css({
                    "left": a,
                    "top": b,
                    "background-position": (-a) + "px " + (-b) + "px",
                    "position": "absolute"
                });
            });

            function move(){

                //加过渡：
                $(".moni p").css("transition","all 2.5s ease 0s");
                //加过渡的特效
                $(".moni p").each(function () {
                    var random = parseInt(Math.random() * 20 + 1);
                    $(this).css("transform", "rotateX(" + 30*random + "deg)" + "rotateY(" + 10*random + "deg)" + "translateZ(" + 40*random + "px)");
                });
                $(".moni").addClass("fei");
                $(".momi p").addClass("pure-img");
                //在过渡的同时就换上了下一个背景，衔接更自然；
//              //src="../public/imgs/slide/1.jpg"
                $(".moni p").css("background-image","url(../public/imgs/slide/" + settings.nowimg + ".jpg)");
                $(".source img").attr("src","../public/imgs/slide/" + settings.nowimg + ".jpg");

                setTimeout(function(){
                    //去掉过渡
                    $(".moni p").css("transition","none");
                    //去掉特效
                    $(".moni").removeClass("fei");
                    $(".moni p").each(function () {
                        $(this).css("transform", "none");
                    });
                },2000);
            }

            function advance() {
                clearTimeout(timeout);
                if(settings.nowimg < settings.sumimg) {
                    move();
                    settings.nowimg ++;
                    if(settings.nowimg == settings.sumimg) {
                        settings.nowimg = 1;
                    }
                    timeout = setTimeout(advance,5000);
                }

            }
            advance();

        })
    </script>
</body>
</html>